*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bg-blu{
    background-color: #0061ff;
}
.bg-azzuro{
    background-color: #b4d0e7;
}
.color-white{
    color: white;
}
.color-black{
    color: black;
}
.font{
    font-size: 13px;
}
.flex-row{
    display:flex ;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 500px;
    
}
.header-upper{
    height: 60px;
    justify-content: space-between;
  align-items: center;


}
.navbar-left{
    width: 60%;

}
.nav-bar-right{
    width: 40%;
}
.jumbotron{
    width: 100%;
    height: 400px;
}
ul{
    list-style-type: none;
}
.logo{
    width: 12%;
    height: 12%;
    padding-left: 10px;
   
}
.margin-right{
    margin-right:15px ;
}
.button{
    width:45px ;
height: 22px;
border: none;
padding-bottom: 2px;
text-align: center;
}

.jumbotron{
    width: 100%;
    height: 380px; 
    
}
.titolo{
    width: 60%;
    padding: 1rem 0 2rem;
    font-size: 50px;
    margin: 0 auto;
    
}
.text-img{
    width: 100%;
    height: 300px;
    position: relative;
    
}
.text{
    width: 40%;
    text-align: left;
    padding-left: 20%;
    font-size: 12px;  
}
.padding{
    padding-bottom: .6rem;
}

.first-img{
    width: 60%;

}
.img1{
    width: 37%;
    position: absolute;
    top:0px;
   right: 23%;
}
.fa-arrow-down{
    font-size: 30px;
    
}
.button-prova{
    border:none;
    height: 25px;
    width: 180px;
    margin-bottom: .8rem;
}

main{
    padding-top: 3rem;
}
.container2{
    max-width:600px;
    margin: 0 auto;
    padding-bottom: 4rem;
  
}

.column-single{
    width:190px;
    height: 600px;
    border: 1px solid lightgray;
    margin-right: 1rem;
     
}
div.middle, div.down, p.upper{
    width: 190px;
}
.upper{
    height: 30px;
   

}
.middle{
    height: 320px;  

}
.down{
    height: 150px;  

}
.empty{
    height: 100px;
    
}
.entreprise-vendita{
    width: 600px;
    height: 180px;
    background-color: red;
    border-color: 1px solid lightgray;
    
    
}

.assist-ufficio{
    width: 100%;
    background-color: aquamarine;
    border-top-color: 1px solid lightgray;
}
.upper-team{
    width: 100%;
    height: 30px;
}
.enterprise{
    width: 60%;
   height: 150px;
    
}
.ufficio-vendite{
    width: 40%;
    height: 150px;
    
}
.text-img2{
    width: 600px;
    height: 400px;
   
}
.second-img{
    width: 60%;
    height: 400px;
    
}
.text2{
    width: 40%;
    height: 400px;
    background-color: aqua;
}
.img2{
    width: 100%;
    height: 100%;
}
.column-text-img{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
   
    
}
.text-image{
    width: calc(100% / 3);
    height: 350px;
    border: 2px solid black;
    
}
.img3{
    width: 100%;
    height: 50%;
    margin-bottom:2rem ;
}
.cards-text{
    width: 1200px;
    height: 400px;
    background-color: #0f7ed9;
}
div.left-cards, div.right-cards{
    width: 400px;
    flex-wrap: wrap;
    background-color: #b4d0e7;
    
   
}
.central-text{
    width: 400px;
    background-color: aqua;
   

}
.img4{
    width: 198px;
    height: 198px;
    border: 1px solid black;
}
.bg-green{
background-color: #a2d39b;
}
.border-green{
background-color: #d1e9cd;
}
.bg-bordeau{
background-color: #61082b;
}
.bg-azzur{
background-color: #0093ce;
}
.bg-redlight{
background-color: #ff1c1c;
}
.bg-red{
    background-color: #d5001f;

}
.bg-lightblu{
background-color:#b4d0e7
}
.bg-blue{
background-color: #0d2481;
}
.bg-giallo{
background-color: #ffd830;
}




