*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}
.bg-blu{
    background-color: #0061ff;
}
.bg-azzuro{
    background-color: #b4d0e7;
}
.color-blu{
    color:#193bf2 ;
}
.color-white{
    color: white;
}
.bg-white{
    background-color: white;
}
.color-black{
    color: black;
}
.color-lightgrey{
    color: rgb(143, 140, 140);
}
.font{
    font-size: 13px;
}
.flex-row{
    display:flex ;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 500px;
    
}
.header-upper{
    height: 60px;
    justify-content: space-between;
  align-items: center;


}
.navbar-left{
    width: 60%;

}
.nav-bar-right{
    width: 40%;
}
.jumbotron{
    width: 100%;
    height: 400px;
}
ul{
    list-style-type: none;
}
.logo{
    width: 12%;
    height: 12%;
    padding-left: 10px;
   
}
.margin-right{
    margin-right:20px ;
}
.button{
    width:45px ;
height: 22px;
border: none;
padding-bottom: 2px;
text-align: center;
}

.jumbotron{
    width: 100%;
    height: 380px; 
    
}
.titolo{
    width: 60%;
    padding: 1rem 0 2rem;
    font-size: 50px;
    margin: 0 auto;
    
}
.text-img{
    width: 100%;
    height: 300px;
    position: relative;
    
}
.text{
    width: 40%;
    text-align: left;
    padding-left: 20%;
    font-size: 12px;  
}

.first-img{
    width: 60%;

}
.img1{
    width: 37%;
    position: absolute;
    top:0px;
   right: 23%;
}
.fa-arrow-down{
    font-size: 30px;
    
}
.button-prova{
    border:none;
    height: 25px;
    width: 180px;
    margin-bottom: .5rem;
}

main{
    padding-top: 3rem;
}
.container2{
    max-width:600px;
    margin: 0 auto;
    padding-bottom: 4rem;
    background-color: white;
  
}
div h2.subtittle1{
    font-size: 30px;
    padding-bottom: 2rem;
}

.column-single{
    width:200px;
    height: 700px;
    border: 1px solid lightgray;
    margin-right: .5rem;
    font-size: 12px;
    
     
}
div.middle, div.down, p.upper{
    width: 190px;
    
}
.upper{
   justify-content: center;
   border-bottom: 1px solid lightgrey;
   align-items: center;
   height: 20px;
}

.small-column{
    width: 100%;
    height: 100%;
    padding-left: .6rem;
}
.padding-bottom1{
    padding-bottom: 1rem;
}
.padding-bottom2{
    padding-bottom: 2rem;
}
.padding-bottom3{
    padding-bottom: 3rem;
}
.padding-top{
    padding-top: 1rem;
}
.padding-right{
    padding-right: 10px;
}
.margin-bottom{
    margin-bottom: 5.8rem;
}
.padding-left{
    padding-left: .5rem;
}
.botton2{
    height: 30px;
    width: 170px;
    border: none;
    
}
.text-decoration{
    text-decoration: underline;
}


.entreprise-vendita{
    width: 600px;
    border: 1px solid lightgray;
}

.assist-ufficio{
    width: 100%;
    height: 150px;
   padding-left: 1rem;
    border-top-color: 1px solid lightgray;
}
.subtittle1{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: .4rem;
}
.enterprise{
    width: 60%;
  
    
}
.ufficio-vendite{
    width: 40%;
    height: 30px;
    margin: 1rem 1rem;
    text-align: center;
    padding: .5rem;
    background-color:#193bf2  ;
    font-size: 13px;  
}

.font-text{
    font-size: 11px;
   
}
.text-img2{
    width: 600px;
    height: 400px;
   
}
.second-img{
    width: 65%;
    
}
.text2{
    width: 35%;
    text-align: left;
    padding-left: 1rem;

}
.button-partner{

    width: 130px;
    height: 35px;
}
.subtittle2{
   font-size:26px;
}
.img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.column-text-img{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
   
    
}
.text-image{
    width: calc(100% / 3);
    
    
    
}
.img3{
    width: 100%;
    height:150px ;
    margin-bottom:2rem ;
}
.cards-text{
    width: 1200px;
    height: 400px;
}

div.left-cards, div.right-cards{
    width: 400px;
    flex-wrap: wrap;
   
    
}

.central-text{
    width: 400px;
    padding: 1.5rem 1.5rem;
   
}

.img4{
    width: 198px;
    height: 198px;
    object-fit: contain;
    padding: 3rem;
}

.img4-central{
    width: 40%;
    

}
.bg-green{
background-color: #a2d39b;
}
.border-green{
 border:8px solid #d1e9cd;

}
.bg-bordeau{
background-color: #61082b;
}
.bg-azzur{
background-color: #0093ce;
}
.bg-redlight{
background-color: #ff1c1c;
}
.bg-red{
    background-color: #d5001f;

}
.bg-lightblu{
background-color:#b4d0e7;
}
.bg-blue{
background-color: #0d2481;
}
.bg-giallo{
background-color: #ffd830;
}
.large-bar{
    width: 100%;
    height: 150px;
    background-color: #b4d0e7;
    justify-content: center;
    align-items: center;
    
    
}
h3.subtittle4{
    width: 70%;
    font-size: 25px;
    padding-left:3rem;
} 
div p.subtittle5{
    padding: 2rem 0 2rem;
}
div.hr{
    width: 600px;
    border: 1px solid rgb(197, 187, 187);
    
}
div p.domande{
    font-size:12px;
    padding: 2rem 0 2rem;
    
}
.justify-content{
    justify-content: space-between;
} 
.special-caracter{
    margin-right: 1rem;
    padding-top: 2rem; 
    
}
.bg-black{
    background-color: black;

}
footer{
    height: 250px;
}





